.page__title
  h1 Добавление платежа

.page__content.padding2
  form.form-horizontal(novalidate name='paymentForm')
    .form-group
      label.control-label.col-sm-3 Пользователь
      .col-sm-3
        ui-select(ng-model='newPayment.selectUser' required)
          ui-select-match {{$select.selected.login}}
          ui-select-choices(repeat='user in users | filter: {login:$select.search}')
            div {{user.login}}

    .form-group
      label.control-label.col-sm-3 Магазин
      .col-sm-3
        ui-select(ng-model='newPayment.selectShop' required)
          ui-select-match {{$select.selected.name}}
          ui-select-choices(repeat='shop in shops | filter: {name:$select.search}')
            div {{shop.name}}

    .form-group
      label.control-label.col-sm-3 Сумма
      .col-sm-3
        input.form-control(type='text' name='total' number-field
        ng-model='newPayment.cart' required)

    .form-group
      label.control-label.col-sm-3 Кэшбэк
      .col-sm-3
        input.form-control(type='text' name='total' number-field
        ng-model='newPayment.payment' required)

    .form-group.submit__group
      .col-sm-offset-3.col-sm-9
        button.btn.btn-green(type='submit' ng-click='createPayment()'
        ng-disabled='paymentForm.$invalid'
        ) Создать
