modal(close-sref='pages.contacts')
  #done.box-modal
    .modal-close(ui-sref='pages.contacts')
    h3
    p Ваша заявка отправлена. Наш менеджер свяжется с вами в ближайшее время
    input(type="button" value="Закрыть" ui-sref='pages.contacts').btn-grey
