#change.box-modal
  .box-modal_close.arcticmodal-close
  h3 Поменять пароль
  input.error(type="text" placeholder="текущий пароль")
  input(type="text" placeholder="новый пароль")
  input(type="text" placeholder="повторите новый пароль")
  input(type="button" value="Установить пароль").btn-grey
