modal(close-sref='/')
  #resetpasssuccess.box-modal
    .modal-close(ui-sref='pages.home')
      img.close(src="landing/img/close-red.png" alt="")
    .modal-title Пароль успешно изменен
    a.blue-btn(ui-sref='pages.home') Закрыть
