modal
  #forgotpasssent.box-modal
    .modal-close(ui-sref='pages.home')
      img.close(src="landing/img/close-red.png" alt="")
    .modal-title Сброс пароля
    p Код для сброса пароля был выслан на указанный почтовый адрес
    a.blue-btn(ui-sref='pages.home') Закрыть
