modal
  #verify.box-modal
    .modal-close(ui-sref='pages.home')
      img.close(src="landing/img/close-red.png" alt="")
    .modal-title Подтверждение регистрации
    p На ваш электронный адрес было отправлено письмо с подтверждением регистрации.
    a.blue-btn(ui-sref='pages.home') Закрыть
