.top-menu
  .top-menu__content
    img.logo(src='/resources/logo-vitalcms.png' alt='Логотип')
    a.button.top-menu__link(href='/') Перейти на сайт
    form.search
      input#find.search__input(type='search' placeholder='Поиск')
      input#search.search__button(type='button')
  include user
