include content-page-header
.faq.content-page
  .container
    .row.max-width
      .page-path
        a.main-blue(href='/', target='_self')
          | Главная 
        |> Часто задаваемые вопросы
    .content-title
      | Часто задаваемые вопросы
    .faq-list
      .faq-block
        .question
          .q-arrow
          .q-text Что такое кэшбэк и как это работает?
        .answer
          p  Кэшбэк - это возврат части денег за покупки, совершенные в интернет-магазинах. Дословно «cashback» означает — возврат наличных. Мы получаем вознаграждение за каждого покупателя, который пришел в магазин от нас и совершил покупку. В свою очередь, мы делимся частью этого вознаграждения с самим покупателем. Это и есть кэшбэк. 
      .faq-block
        .question
          .q-arrow
          .q-text При покупке с кэшбэком цены увеличиваются?
        .answer
          p Проверить это легко - сравните цены, зайдя в магазин с другого компьютера или смартфона. 
      .faq-block
        .question
          .q-arrow
          .q-text Я зарегистрировался. Кэшбэк будет приходить сам?
        .answer
          p  
          | Вам потребуется пройти всего 2простых шага: 
          p 
            | 1.Зарагистрироваться(без регистрации кэшбэк не начисляется).  
          p
            | 2.Перейти по ссылке в нашем каталоге в нужный вам магазин.
      .faq-block
        .question
          .q-arrow
          .q-text Как быстро начисляется кэшбэк? 
        .answer
          p Доступным к выводу бонус станет сразу, как только интернет-магазин оплатит его. Обычно выплата производится в течение двух месяцев с момента совершения заказа. 
      .faq-block
        .question
          .q-arrow
          .q-text Что такое Сookies? 
        .answer
          p Сookies (“куки”) — это информация, которую устанавливает поставщик услуг в Ваш браузер. Например, когда первый раз Вы посещаете веб-сайт и устанавливаете русский язык сайта, то в сookies сохраняется эта информация, и следующий раз эта страница откроется Вам именно на русском языке. Сookies не имеют доступа к паролям или Вашим компьютерным файлам. Когда Вы переходите на сайт магазина через наш сервис, мы размещаем куки в Вашем браузере, и именно эти куки позволяют определить, что Вы пришли в магазин через наш сервис. В этом случае магазин платит нам комиссию с продажи, которой мы делимся с Вами в виде кэшбэка. 
      .faq-block
        .question
          .q-arrow
          .q-text Как происходит оплата за товар/услугу?
        .answer
          p Оплачивать покупку Вы можете любым удобным способом. Вы можете даже оформить товар в кредит, если такое предусмотрено правилами магазина. 
      .faq-block
        .question
          .q-arrow
          .q-text В какой валюте выплачивается кэшбэк? 
        .answer
          p Кэшбэк выплачивается в рубля. Если заказ оплачивается в иностранной валюте, то сумма кэшбэка конвертируется в рубли по курсу ЦБ РФ на день покупки. 
      .faq-block
        .question
          .q-arrow
          .q-text Почему не зачислили кэшбэк?
        .answer
          p  
            | 1. Ваш заказ был отклонен по какой-либо причине;
          p
            | 2. Был возврат;
          p
            | 3. Вы оформили покупку по телефону;
          p
            | 4. В Вашем браузере стоит программа блокировки рекламы типа Adblock либо другая программа, блокирующая передачу данных, программа, позволяющая получить кэшбэк через другой сервис;
          p
            | 5. Вы НЕ перешли через наш каталог ПЕРЕД совершением покупки;
          p
            | 6. Вы оставили покупку на другой день и завершили ее позже БЕЗ повторного перехода через наш каталог.
include content-page-footer
