include content-page-header

.feedback.content-page
  .container
    .row.max-width
      .page-path
        a.main-blue(ui-sref="pages.home")
          | Главная 
        |> Отзывы
      .content-title
        | Отзывы о сервисе
      .row
        .feedback-list
          .feedback-card
            .row
              .col-md-2.col-sm-2
                img.user-icon(src='/landing/img/fb-user-man.png', alt='')
              .col-md-8.col-sm-7
                .user-content
                  .user-name Алекс Мал
                  .fb-card-info.visible-xs
                    img.user-rate(src='/landing/img/s4-rating-stars.png', alt='')
                    .user-date 24.05.2016
                  .clearfix.visible-xs
                  .user-preview-text.user-text
                    | В последнее время большую популярность набирают
                    | кэшбэк-порталы. Они представляют собой навигационную
                    | площадку, перенаправляющую покупателя на сайты
                    | профильных интернет-магазинов, которые заключают
                    | с кэшбэк-агрегатором партнёрские соглашения.
                  .show-all
                    | Читать отзыв полностью
                    img(src='/landing/img/arrow-down-small.png', alt='')
                  .user-full-text.user-text
                    | Lorem ipsum dolor sit amet,
                    | consectetur adipisicing elit. Adipisci
                    | aliquid amet animi culpa enim est et facilis
                    | ipsum iste laudantium, minima minus, nostrum
                    | quas reprehenderit sed sint soluta tempora
                    | voluptas.
                    | Lorem ipsum dolor sit amet,
                    | consectetur adipisicing elit. Adipisci
                    | aliquid amet animi culpa enim est et facilis
                    | ipsum iste laudantium, minima minus, nostrum
                    | quas reprehenderit sed sint soluta tempora
                    | voluptas.
                    | Lorem ipsum dolor sit amet,
                    | consectetur adipisicing elit. Adipisci
                    | aliquid amet animi culpa enim est et facilis
                    | ipsum iste laudantium, minima minus, nostrum
                    | quas reprehenderit sed sint soluta tempora
                    | voluptas. Lorem ipsum dolor sit amet,
                    | consectetur adipisicing elit. Adipisci
                    | aliquid amet animi culpa enim est et facilis
                    | ipsum iste laudantium, minima minus, nostrum
                    | quas reprehenderit sed sint soluta tempora
                    | voluptas.
              .col-md-2.col-sm-3.hidden-xs
                img.user-rate(src='/landing/img/s4-rating-stars.png', alt='')
                .user-date 24.05.2016
          .feedback-card
            .row
              .col-md-2.col-sm-2
                img.user-icon(src='/landing/img/fb-user-icon.png', alt='')
              .col-md-8.col-sm-7
                .user-content
                  .user-name Алекс Мал
                  .fb-card-info.visible-xs
                    img.user-rate(src='/landing/img/s4-rating-stars.png', alt='')
                    .user-date 24.05.2016
                  .clearfix.visible-xs
                  .user-preview-text.user-text
                    | В последнее время большую популярность набирают
                    | кэшбэк-порталы. Они представляют собой навигационную
                    | площадку, перенаправляющую покупателя на сайты
                    | профильных интернет-магазинов, которые заключают
                    | с кэшбэк-агрегатором партнёрские соглашения.
                  .show-all
                    | Читать отзыв полностью
                    img(src='/landing/img/arrow-down-small.png', alt='')
                  .user-full-text.user-text
                    | Lorem ipsum dolor sit amet,
                    | consectetur adipisicing elit. Adipisci
                    | aliquid amet animi culpa enim est et facilis
                    | ipsum iste laudantium, minima minus, nostrum
                    | quas reprehenderit sed sint soluta tempora
                    | voluptas.
                    | Lorem ipsum dolor sit amet,
                    | consectetur adipisicing elit. Adipisci
                    | aliquid amet animi culpa enim est et facilis
                    | ipsum iste laudantium, minima minus, nostrum
                    | quas reprehenderit sed sint soluta tempora
                    | voluptas.
                    | Lorem ipsum dolor sit amet,
                    | consectetur adipisicing elit. Adipisci
                    | aliquid amet animi culpa enim est et facilis
                    | ipsum iste laudantium, minima minus, nostrum
                    | quas reprehenderit sed sint soluta tempora
                    | voluptas. Lorem ipsum dolor sit amet,
                    | consectetur adipisicing elit. Adipisci
                    | aliquid amet animi culpa enim est et facilis
                    | ipsum iste laudantium, minima minus, nostrum
                    | quas reprehenderit sed sint soluta tempora
                    | voluptas.
              .col-md-2.col-sm-3.hidden-xs
                img.user-rate(src='/landing/img/s4-rating-stars.png', alt='')
                .user-date 24.05.2016
include content-page-footer
