modal(close-sref='app.profile.details')
  #done.box-modal
    .modal-close(ui-sref='app.profile.details')
    h3 Поменять PIN
    p PIN был успешно изменен
    input(type="button" value="Закрыть").btn-grey(ui-sref='app.profile.details')
