viewport-off
.backoffice-menu 
  ul
    li(ui-sref="pages.profile" ng-class='{active: (state.current.url==="profile")}') Профиль
    li(ui-sref="pages.history" ng-class='{active: (state.current.url==="history")}') Покупки
    li(ui-sref="pages.payments" ng-class='{active: (state.current.url==="payments")}') История зачислений
    li(ui-sref="pages.withdraw" ng-class='{active: (state.current.url==="withdraw")}') Я помогаю
    li(ui-sref="pages.stores" ng-class='{active: (state.current.url==="stores")}') Избранные магазины
