include ../pages/content-page-header
include backoffice-menu
.backoffice
  .content-page.history
    .container
      .row.max-width
        .content-title Покупки
        p.text Все заказы отобразятся в истории заказов автоматически в течении 4-х дней
        .clearfix
        hr
        p(style='margin-top: 20px;')
        .period
          input.calend-input(type='text' date-time view='date' format='dd.MM.yyyy'
            min-view='date' ng-model='vm.rangeStart' auto-close='true' ng-change='vm.updateList()')
          span.calend-link
          input.calend-input(type='text' date-time view='date' format='dd.MM.yyyy'
            min-view='date' ng-model='vm.rangeEnd' auto-close='true' ng-change='vm.updateList()')
          span.calend-link

        select.type-select(ng-model='vm.type' ng-change='vm.updateList()' ng-options='type.value as type.name for type in vm.types' )
        button.blue-btn.submit-btn.refresh-btn(ng-click='vm.updateList()' ) Обновить
        .clearfix

        table.history-table
          thead
            tr
              th
              th Заказ
              th Кэшбэк
              th Статус
          tbody
            tr(ng-repeat='order in vm.orders')
              td
                img(src="{{order.shop[0].logo}}", alt="" class="shop-logo")
              td
                .shop-name {{order.shop[0].name}}
                .order-num заказ No&nbsp;
                  span {{order.order_id}}
                .order-date {{order.order_date | date:'dd.MM.yyyy'}}

              td(ng-if="order.status != 'approved'")
                span {{order.payment | curr}} {{order.currency}}
                br
                span(ng-if="order.convertCart") {{order.convertPayment | curr}} {{order.convertCurrency}}

              td(ng-if="order.status == 'approved' && !order.isComment")
                a(ui-sref='pages.history.feedback({orderId: order._id})' style="font-weight: bold; font-size: 18px;") Оставить отзыв

              td(ng-if="order.status == 'approved' && order.isComment")
                span {{order.payment | curr}} {{order.currency}}
                br
                span(ng-if="order.convertCart") {{order.convertPayment | curr}} {{order.convertCurrency}}

              td
                | {{vm.statuses[order.status]}}

include ../pages/content-page-footer