modal(close-sref='app.balance.history')
  #done.box-modal
    .modal-close(ui-sref='app.balance.history')
    h3 Пополнить баланс
    p Баланс успешно пополнен
    input(type="button" value="Закрыть").btn-grey(ui-sref='app.balance.history')
