modal(close-sref='app.balance.history')
  #done.box-modal
    .modal-close(ui-sref='app.balance.history')
    h3 Перевод
    p Заявка на перевод отправлена
    input(type="button" value="Закрыть").btn-grey(ui-sref='app.balance.history')
