modal(close-sref='app.balance.history')
  #done.box-modal
    .modal-close(ui-sref='app.balance.history')
    h3 Внутренний перевод
    p Перевод успешно завершен
    input(type="button" value="Закрыть").btn-grey(ui-sref='app.balance.history')
