h2.main-head Новости
.main.news-table.main-news
  h4.news-name {{::vm.news.title}}
  .news-navigation
    a(ui-sref='app.news.show({slug: vm.news.prev.slug})' ng-if='vm.news.prev').f-left
      span {{::vm.news.prev.title}}
    a(ui-sref='app.news.show({slug: vm.news.next.slug})' ng-if='vm.news.next').f-right
      span {{::vm.news.next.title}}
  .date {{::vm.news.createdAt | date:'dd.MM.yyyy'}}
  .news
    .news-carousel
      ul
        li
          img(ng-src='{{vm.news.images[0].detail.url}}')
    // a.news-control-prev
    // a.news-control-next
    .news-text(ng-bind-html='vm.news.body')

  h4.news-name.last-news Последние новости
  .news-preview(ng-repeat='preview in vm.news.latest track by preview._id')
    h4.news-head
      a(ui-sref='app.news.show({slug: preview.slug})') {{::preview.title}}
    a.news-image(ui-sref='app.news.show({slug: preview.slug})')
      img(ng-src='{{preview.images[0].preview.url}}'
        alt='{{::preview.title}}' title='{{::preview.title}}')
    .news-date {{::preview.createdAt | date:'dd.MM.yyyy'}}
    button.btn-blue(ui-sref='app.news.show({slug: preview.slug})') Посмотреть
  .clearfix
