.content-page.container-landing.about.bar-page
  section.sb1.about-bar
    .container
      .row
        .col-md-6.col-sm-6.col-xs-12
          .left-col
            p.text
              | Большую часть времени современный человек проводит в делах: на работе, строит собственный бизнес, занимается различными личными проектами. Многие совмещают успешную карьеру с активными занятиями спортом и семейной жизнью. При таком бешенном темпе жизни, нормально питаться реально
              span.orange  &nbsp;очень сложно&nbsp;
              br.hidden-sm.hidden-xs
              | и зачастую мы в условиях цейтнота
              span.orange &nbsp;обращаемся к фастфуду&nbsp;
              |, булочкам, газировке и даже сомнительным киоскам с горячим питанием.
              br.hidden-smhidden-xs
              span.second-par
                | Такой образ жизни не может не сказываться на нашем здоровье — пропуск приемов пищи или их замена высококаллорийной
              br.hidden-sm.hidden-xs
              span.orange &nbsp;«мусорной едой»&nbsp;
              | может привести к плохому самочувствию, проблемам с пищевариеним и снижению работоспособности, что в свою очередь заставляет нас еще больше времени погружаться в дела, т.к. эффективность падает, и  так далее...
        .col-md-6.col-sm-6.col-xs-12
          .right-col
            .row
              .top-line.line
                .col-md-6.col-sm-6.col-xs-6
                  .block.block1
                    img.img.img1(src="/resources/bar/s1-presentation.png")
                    .title.title1 На работе
                .col-md-6.col-sm-6.col-xs-6
                  .block.block2
                    img.img.img2(src="/resources/bar/s1-distance.png")
                    .title.title2 В дороге
            .row
              .bottom-line.line
                .col-md-6.col-sm-6.col-xs-6
                  .block.block3
                    img.img.img3(src="/resources/bar/s1-runner.png")
                    .title.title3 На тренировке
                      .grey (не для проф. спортсменов)
                .col-md-6.col-sm-6.col-xs-6
                  .block.block4
                    img.img.img4(src="/resources/bar/s1-home.png")
                    .title.title4 После работы
  section.sb2.question-bar
    .container
      .row
        .wrap-titles
          .big-title Как вырваться из этого порочного круга?
          .small-title Выход есть!
    .bar-image-text
      .row
        .col-md-12
          .big-text Протеиновые батончики
          .small-text с L-карнитином и набором витаминов


    img.bg-sb2(src="/resources/bar/sb2-bg.jpg")
  section.sb3.contents-bar
    .container
      .row
        .blocks-line
          .col-md-3.col-sm-3.col-xs-6
            img.circ.circ1(src="/resources/bar/sb3-wheat.png")
            .desc.desc1 Мюсли
          .col-md-3.col-sm-3.col-xs-6
            img.circ.circ1(src="/resources/bar/sb3-coconut.png")
            .desc.desc2 Кокос
          .col-md-3.col-sm-3.col-xs-6
            img.circ.circ1(src="/resources/bar/sb3-hazelnut.png")
            .desc.desc3 Орех
          .col-md-3.col-sm-3.col-xs-6
            img.circ.circ1(src="/resources/bar/sb3-corn.png")
            .desc.desc4 Кукуруза
        .clearfix.visible-xs
        .table
          .col-md-4
            .left-col
              .title.left-title Польза L-карнитина
              ul
                li
                  span.text Активизация процесса сжигания жира
                li
                  span.text Переработка жира в энергию
                li
                  span.text Разрешение имеющихся и предотвращение новых отложений жира
                li
                  span.text Стимуляция питания сердечной мышцы
                li
                  span.text Повышение работоспособности
                li
                  span.text Понижение в крови уровня триглицеридов и холестерина
          .col-md-4
            .middle-col
              ul
                li
                  span.text Богатое насыщение кислородом клеток
                li
                  span.text Сокращение периода восстановления
                li
                  span.text Повышение ествественного уровня аденозитрифосфата (АТФ)
                li
                  span.text Стимулирование иммунитета
                li
                  span.text Длительное сохранение эффекта
          .col-md-4
            .right-col
              .title.left-title Последствия недостатка
                br.hidden-sm.hidden-xs
                | L-карнитина
              ul
                li
                  span.text Набор избыточной массы тела
                li
                  span.text Раздражительность
                li
                  span.text Хроническая усталость
                li
                  span.text Перебои в работе сердца
                li
                  span.text Быстрая утомляемость от физических нагрузок
  section.sb4.comfortable-bar
    .container
      .row
        .title Это удобно!
        .wrap-blocks
          .col-md-4.col-sm-4.col-xs-12
            .block.clock1
              img.img.img1(src="/resources/bar/sb4-airplane.png")
              .text.text1
                span.bold Это удобно&nbsp;
                | в самолете, в машине, на
                br.hidden-sm.hidden-xs
                | работе, стоя в пробке, находясь в метро или
                br.hidden-sm.hidden-xs
                | автобусе батончик всегда будет с вами, он
                br.hidden-sm.hidden-xs
                | поместится и в женский клатч, и в карман
                br.hidden-sm.hidden-xs
                | мужского пиджака
          .col-md-4.col-sm-4.col-xs-12
            .block.clock2
              img.img.img2(src="/resources/bar/sb4-purse.png")
              .text.text2
                | Вы можете
                span.bold &nbsp;взять с собой&nbsp;
                | несколько штук
                br.hidden-sm.hidden-xs
                | и всегда иметь возможность быстрого,
                br.hidden-sm.hidden-xs
                | полезного и вкусного перекуса
              img.arrow-down.hidden-xs(src="/resources/bar/sb4-arrow-down.png")
          .col-md-4.col-sm-4.col-xs-12
            .block.clock3
              img.img.img3(src="/resources/bar/sb4-candy.png")
              .text.text3
                | Вам не надо использовать что-то для того
                br.hidden-sm.hidden-xs
                | чтобы
                span.bold &nbsp;перекусить!&nbsp;
                | Ни шейкера, ни воды, ни
                br.hidden-sm.hidden-xs
                | молоко
            img.arrow-down.visible-xs(src="/resources/bar/sb4-arrow-down.png")
          .clearfix
      button.order(ui-sref='pages.home.register') Заказать батончики