.content-page.container-landing.products.products-view
  .wrap-blocks
    .product.bg-clock
        .row
          .col-lg-8.col-md-10
            p.big-title.big-title-product КОНТАКТЫ
            p.title.title-product Мы рады представить вашему вниманию
              span.first
              br.hidden-850
              | из продуктов компании!
            .text.level.first-level Это мобильное приложение, которое значительно упростит ваш бизнес и ведение повседневных дел!
            .text.level.sec-level Теперь для вашего списка имен не надо покупать отдельную большую тетрадь, которую неудобно носить, легко потерять, и которая в самый нужный момент обычно&nbsp;
              br.hidden-sm.hidden-xs
              span оказывается не с вами.
            .text.level.th-level Просто скачайте приложение @contacts@, установите на свой гаджет и&nbsp;
              br.hidden-sm.hidden-xs
              span синхронизируйте ваши контакты.
            .product-stores
              .row
                .line
                .col-md-3.col-sm-4.col-xs-5
                  .download-text Скачать приложение для гаджетов можно
                .col-md-7.col-sm-8.col-xs-7
                  .g-market.market
                  .a-market.market

    .marketing.bg-clock
        .row
          .col-lg-8.col-md-10
            p.title.title-marketing Если вы занимаетесь сетевым маркетингом
            .wrap-blocks-marketing
              .blocks.block1
                .row
                  .col-lg-1.col-md-2.col-xs-2
                    img(src='/resources/products/num1.png').num.num1
                  .col-lg-11.col-md-10.col-xs-10
                    .text.block1-text Вы можете составлять теги (названия разделов вашего списка) легко и просто,&nbsp;
                      br.hidden-sm.hidden-xs
                      span в неограниченном количестве
                    .examle.block1-example Например, 1-ая встреча, 2-ая встреча, и сортировать контакты по нужным именно вам категориям одним нажатием.
              .blocks.block2
                .row
                  .col-lg-1.col-md-2.col-xs-2
                    img(src='/resources/products/num2.png').num.num2
                  .col-lg-11.col-md-10.col-xs-10
                    .text.block2-text  Теперь вам не надо тратить время на поиск людей в вашем списке, чтобы найти тех, с кем вы проводили первую встречу и вторую встречу, выписывать их на отдельный листок, чтобы прозванивать с какой-то целью.
                    .examle.block2-example Просто нажмите поиск по нужному вам критерию, и вы получите готовый список нужных контактов
              .blocks.block3
                .row
                  .col-lg-1.col-md-2.col-xs-2
                    img(src='/resources/products/num3.png').num.num3
                  .col-lg-11.col-md-10.col-xs-10
                    .text.block3-text Нужно посмотреть, сколько вы провели встреч за неделю, месяц или с такого-то по такое-то число? Нет ничего проще!
                    .examle.block3-example Просто установите дату в параметрах поиска, и вы получите всю нужную информацию за несколько секунд.
              .blocks.block4
                .row
                  .col-lg-1.col-md-2.col-xs-2
                    img(src='/resources/products/num4.png').num.num4
                  .col-lg-11.col-md-10.col-xs-10
                    .text.block4-text Все результаты поисков можно легко и просто отправлять на e-mail,&nbsp;
                      br.hidden-sm.hidden-xs
                      span выводить на печать или на рабочий стол вашего ноутбука, одним нажатием!
                    .examle.block4-example
              .blocks.block5
                .row
                  .col-lg-1.col-md-2.col-xs-2
                    img(src='/resources/products/num5.png').num.num5
                  .col-lg-11.col-md-10.col-xs-10
                    .text.block5-text Сколько раз вы забывали позвонить кому-то через день или через неделю?&nbsp;
                      br.hidden-sm.hidden-xs
                      span Всю информацию невозможно удержать в голове, и это нормально!
                    .examle.block5-example Теперь за вас об этом будет помнить ваше приложение, и оно само напомнит вам, когда и кому необходимо перезвонить или с кем, где и когда у вас встречи!
              .blocks.block6
                .row
                  .col-lg-1.col-md-2.col-xs-2
                    img(src='/resources/products/num6.png').num.num6
                  .col-lg-11.col-md-10.col-xs-10
                    .text.block6-text Вам не надо заново писать список имен. Вы можете легко и просто перенести все имеющиеся контакты из вашего устройства.
                    .examle.block6-example
    .messenger.bg-clock
        .row
          .col-lg-8.col-md-10
            .title.title-messenger Полноценный мессенджер!
            .blue-title Общайтесь с людьми из вашего списка легко и просто
            .wrap-blocks-messenger
              .blocks.block1
                .row
                  .col-lg-1.col-md-2.col-xs-2
                    img(src='/resources/products/circle1.png').circle.circle1
                  .col-lg-11.col-md-10.col-xs-10
                    .text.block1-text Пригласите вашего друга из соцсетей установить данное приложение,&nbsp;
                      br.hidden-sm.hidden-xs
                      span и вы станете еще ближе!
              .blocks.block2
                .row
                  .col-lg-1.col-md-2.col-xs-2
                    img(src='/resources/products/circle2.png').circle.circle2
                  .col-lg-11.col-md-10.col-xs-10
                    .text.block2-text Вы работаете на себя или у вас есть небольшой бизнес? Используйте наше приложение, и вы всегда будете на связи с вашими клиентами. Создавайте нужные вам группы клиентов.

              .blocks.block3
                .row
                  .col-lg-1.col-md-2.col-xs-2
                    img(src='/resources/products/circle3.png').circle.circle3
                  .col-lg-11.col-md-10.col-xs-10
                    .text.block3-text После того как вы сделали поиск по нужной вам категории, моментально оповестите всех участников о нужном событии!
              .blocks.block4
                .row
                  .col-lg-1.col-md-2.col-xs-2
                    img(src='/resources/products/circle4.png').circle.circle4
                  .col-lg-11.col-md-10.col-xs-10
                    .text.block4-text После каждого звонка запишите комментарии для себя прямо в профиле человека, и вам не придется вспоминать каждый раз, о чем вы говорили. Назначьте звонок на нужную дату и время, и приложение само напомнит вам об этом.
              .blocks.block5
                .row
                  .col-lg-1.col-md-2.col-xs-2
                    img(src='/resources/products/circle5.png').circle.circle5
                  .col-lg-11.col-md-10.col-xs-10
                    .text.block5-text Создавайте групповые чаты с вашими клиентами. Экономьте время – ваше и ваших клиентов.
    .partner
      .row
        .col-lg-7.col-md-7.col-sm-7.col-xs-12
          p.title-partner Скачайте приложение бесплатно и пользуйтесь!
          p.desc-partner Для активации всех функций просто зарегистрируйтесь на сайте компании, приобритите промо-код, который активирует весь функционал приложения.
        .clearfix.visible-xs
        .col-lg-1.col-md-1.hidden-sm.hidden-xs
          img(src='/resources/about/arrow.png').partner-arrow
        .col-lg-4.col-md-4.col-sm-5.col-xs-12
          button(ui-sref='pages.home.register') Зарегистрироваться

