.content-page.container-landing.about.about-view
  .wrap-blocks-about
    .cooperatives
        .row
          .col-lg-7.col-md-8.col-sm-10.col-xs-12
            .cooperatives-text
              p
                span.sec-level Главный вопрос, который беспокоит практически каждую семью со средним достатком: как улучшить свои жилищные условия? Появляются и подрастают дети, хочется переехать в другой город, хочется купить дом, дачу, просто обзавестись собственным уютным гнёздышком. 
                span.th-level Что делать если банки вам отказывают в ипотеке или не нравятся условия, предлагаемые банками?
    .cooperatives-exit-exist
        .row
          .col-md-8.col-md-offset-2
              p.exit-exist-text Выход есть!
              p.cooperative-text жилищный накопительный кооператив
              p.free-dom-text Freedom

    .about-company.coorepative-core
        .row
          .col-md-10
            p.cooperative-core-title Суть
            .coorepative-core-text
              p - Вы становитесь членом кооператива, оплатив вступительный взнос
              p - Определяете какую недвижимость хотите
              p - Накапливаете 30% от стоимости вашей недвижимости, можно использовать материнский капитал и жилищные сертификаты
              p - Оставшиеся 70% за вас доплачивает кооператив FREEDOM
              p - Заезжаете и живете в том жилье, которое сами выбрали
              p - В течении 10 лет рассчитываетесь с кооперативом 
              p - Полностью рассчитавшись, получаете жилье в собственность (на основании справки о полной выплате) 

    .we-do-not-require
      .row
        .col-lg-4.col-md-6.col-lg-offset-8.col-md-offset-3
          p.we-do-not-require-title Мы не требуем
        .col-lg-6.col-md-8.col-lg-offset-6.col-md-offset-2
          .no-require-text
            p - Справок о доходах
            p - Поручительства и обеспечения
            p - Кредитной истории
            p - Территориальной привязки объекта недвижимости

    .coorepative-condition
        .row
          .col-lg-4.col-lg-offset-2.col-lg-8.col-md-6.col-md-offset-3
            p.coorepative-condition-title Условия
          .col-lg-6.col-lg-offset-1.col-md-8.col-md-offset-2
            .coorepative-condition-text
              p - Возраст клиента от 16 до 65 лет
              p - Срок ипотеки до 10 лет
              p - Разные формы участия в кооперативе, предусматривающие разные первоначальные взносы
              p - Накопление первоначального взноса

    .coorepative-important
      .row
        .col-lg-4.col-lg-offset-8.col-md-6.col-md-offset-3
          p.coorepative-important-title НЕМАЛОВАЖНО
        .col-lg-6.col-lg-offset-6.col-md-8.col-md-offset-2
          .coorepative-important-text
            p - Недвижимость, приобретенная с помощью ЖК, дешевле приобретенного по схеме банковского ипотечного кредитования
            p - Вселение и проживание уже на этапе выплаты по ипотеке
            p - Регистрация вместе с членами своей семьи в полученной недвижимости

    .cooperative-advantages
      .row
        .col-lg-12.col-lg-offset-0.col-md-10.col-md-offset-1
          p.cooperative-advantages-title преимущества перед банком
        .col-md-10.col-md-offset-1
          .cooperative-advantages-list
            ul
              li
                img(src="/resources/cooperative/check.png", alt="")
                span.text Наш кооператив - некоммерческая организация
              li
                img(src="/resources/cooperative/check.png", alt="")
                span.text Гарантия получения недвижимости в ипотеку
              li
                img(src="/resources/cooperative/check.png", alt="")
                span.text Наша процентная ставка всего 6 % годовых
              li
                img(src="/resources/cooperative/check.png", alt="")
                span.text Плохая кредитная история не является препятствием
              li
                img(src="/resources/cooperative/check.png", alt="")
                span.text Официальное трудоустройство, поручители и справки не требуются
              li
                img(src="/resources/cooperative/check.png", alt="")
                span.text С нами легко и надежно. Наша миссия помогать людям!
    .cooperative-guarantees
      .row
        .col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2.col-xs-12.col-xs-offset-0
          p.cooperative-guarantees-title Гарантии
        .col-md-10.col-md-offset-1
          .cooperative-guarantees-text
            p Деятельность ЖК FREEDOM осуществляется на принципах и условиях, изложенных в разделе № 5 Жилищного Кодекса Российской Федерации.
            p Раздел № 5 ЖК РФ, определяет правовые, экономические и организационные основы деятельности жилищных кооперативов по привлечению и использованию денежных средств граждан на приобретение или строительство жилых помещений на территории Российской Федерации в целях передачи их в пользование и после внесения паевых взносов в полном размере в собственность, а также устанавливает гарантии защиты прав и их законных интересов.
    .cooperative-go-to-freedom
      .row
        .col-md-4.col-sm-8.col-md-offset-4.col-sm-offset-2
          .btn-free-dom
            a(href="http://freedom-koop.com/")
              span Перейти на сайт кооператива FreeDom
